In [1]:
# Importar librerías
import sqlite3
import pandas as pd

In [2]:
# Generar base de datos
conexionDB = sqlite3.connect("montosRegistrados.db")

In [4]:
cursorDB = conexionDB.cursor()
# Código para crear la primera tabla
# Si ya se genero se puede comentar y continuar ejecutando

cursorDB.execute("DROP TABLE montos")
cursorDB.execute("DROP TABLE errores")
cursorDB.execute("CREATE TABLE montos(fecha, cliente, monto, proveedor)")
cursorDB.execute("CREATE TABLE errores(fecha, cliente, monto, proveedor, archivo)")

In [5]:
# Leer los Exceles
def leer_archivo_excel(nombreArchivo, colTypes=None, na_values=["-"]):
    """" Función que lee archivos de excel
        Parameters:
            nombreArchivo: El nombre del archivo a leer 
            colTypes: Un dict con los tipos de las columnas. En caso de no ser proporcionado, se asumen los tipos
            na_values: Una lista con los valores considerados vacios
        Returns:
            Regresa un dataFrame con todos los renglones con valores y un dataframe con los renglones con valores faltantes"""
    df = pd.read_excel(nombreArchivo, dtype=colTypes, na_values=na_values)
    
    return df.dropna(), df[df.isnull().any(axis=1)]

In [6]:
def procesarArchivos(listaDeArchivos):
    """Procesa los archivos separando las entradas con valores validos
        Parameters:
        listaDeArchivos: Una lista que contiene los archivos a procesar"""
    for archivo in listaDeArchivos:
        valValidos, valInvalidos = leer_archivo_excel(archivo, colTypes={"Monto":float})
        if len(valInvalidos.index):
            print("Se encontraron valores erroneos")
            valInvalidos["Archivo"] = archivo
            valInvalidos.to_sql(name="errores", con=conexionDB,if_exists='append',index=False)
        valValidos.to_sql(name="montos", con=conexionDB,if_exists='append',index=False)

In [7]:

procesarArchivos(["Banamex.xlsx","Bancomer.xlsx","Santander.xlsx"])

Se encontraron valores erroneos

In [9]:
import csv

In [17]:
query

[('2023-03-17 00:00:00', 'Luciano Hernandez', 5678.9, 'Banamex'),
 ('2023-03-17 00:00:00', 'Amanda Chavez', 9012.34, 'Banamex'),
 ('2023-03-17 00:00:00', 'Sebastian Torres', 4567.89, 'Banamex'),
 ('2023-03-17 00:00:00', 'Aurora Rodriguez', 1234.56, 'Banamex'),
 ('2023-03-17 00:00:00', 'Maximiliano Sanchez', 5678.9, 'Banamex'),
 ('2023-03-17 00:00:00', 'Bianca Martinez', 345.67, 'Banamex'),
 ('2023-03-17 00:00:00', 'Thiago Castro', 1234.56, 'Banamex'),
 ('2023-03-17 00:00:00', 'Violeta Flores', 789.01, 'Banamex'),
 ('2023-03-17 00:00:00', 'Bruno Ramirez', 2345.67, 'Banamex'),
 ('2023-03-17 00:00:00', 'Valeria Torres', 1234.56, 'Banamex'),
 ('2023-03-17 00:00:00', 'Felipe Garcia', 345.67, 'Banamex'),
 ('2023-03-17 00:00:00', 'Lucia Vargas', 789.01, 'Banamex'),
 ('2023-03-17 00:00:00', 'Tomás Jiménez', 2345.67, 'Banamex'),
 ('2023-03-17 00:00:00', 'Emilia Hernandez', 123.45, 'Banamex'),
 ('2023-03-17 00:00:00', 'Facundo Medina', 6789.01, 'Banamex'),
 ('2023-03-17 00:00:00', 'Eva López', 1234.56, 'Banamex'),
 ('2023-03-17 00:00:00', 'Dante Flores', 5678.9, 'Banamex'),
 ('2023-03-17 00:00:00', 'Emiliana Perez', 345.67, 'Banamex'),
 ('2023-03-17 00:00:00', 'Rodrigo Torres', 1234.56, 'Banamex'),
 ('2023-03-17 00:00:00', 'Carolina Ramirez', 789.01, 'Banamex'),
 ('2023-03-17 00:00:00', 'Lisandro Flores', 2345.67, 'Banamex'),
 ('2023-03-17 00:00:00', 'Martina Gomez', 6789.01, 'Banamex'),
 ('2023-03-17 00:00:00', 'Alexis Castro', 1234.56, 'Banamex'),
 ('2023-03-17 00:00:00', 'Natalia Fernandez', 5678.9, 'Banamex'),
 ('2023-03-17 00:00:00', 'Enzo Diaz', 8901.23, 'Banamex'),
 ('2023-03-17 00:00:00', 'Zoe Torres', 2345.67, 'Banamex'),
 ('2023-03-17 00:00:00', 'Gustavo Alvarez', 6789.01, 'Banamex'),
 ('2023-03-17 00:00:00', 'Sofía Flores', 1234.56, 'Banamex'),
 ('2023-03-17 00:00:00', 'Santino Ramos', 5678.9, 'Banamex'),
 ('2023-03-17 00:00:00', 'Daniela Aguilar', 9012.34, 'Banamex'),
 ('2023-03-17 00:00:00', 'Agustina Fernández', 345.67, 'Banamex'),
 ('2023-03-17 00:00:00', 'Isabella Garcia', 5678.9, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Diego Hernandez', 345.67, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Luciana Perez', 1234.56, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Mateo Flores', 789.01, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Olivia Sanchez', 2345.67, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Nicolas Torres', 6789.01, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Valentina Ramirez', 1234.56, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Santiago Jimenez', 5678.9, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Emma Chavez', 345.67, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Adrian Castro', 1234.56, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Emilia Vargas', 789.01, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Joaquin Medina', 2345.67, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Camila Rodriguez', 6789.01, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Facundo Gonzalez', 1234.56, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Delfina Martinez', 5678.9, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Benjamin Flores', 1234.56, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Candela Jimenez', 1234.56, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Ezequiel Castro', 345.67, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Renata Hernandez', 789.01, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Gaspar Ramirez', 2345.67, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Juliana Torres', 123.45, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Lautaro Flores', 5678.9, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Sol Rodriguez', 9012.34, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Agustin Aguilar', 4567.89, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Tomas Gomez', 2345.67, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Constanza Ramos', 6789.01, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Martin Diaz', 1234.56, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Florencia Torres', 5678.9, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Manuel Alvarez', 9012.34, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Martina Fernandez', 345.67, 'Bancomer'),
 ('2023-03-17 00:00:00', 'Juan Perez', 1234.56, 'Santander'),
 ('2023-03-17 00:00:00', 'Ana Martinez', 345.67, 'Santander'),
 ('2023-03-17 00:00:00', 'Carlos Gutierrez', 789.01, 'Santander'),
 ('2023-03-17 00:00:00', 'Laura Lopez', 2345.67, 'Santander'),
 ('2023-03-17 00:00:00', 'Mario Gonzalez', 123.45, 'Santander'),
 ('2023-03-17 00:00:00', 'Sofia Rodriguez', 5678.9, 'Santander'),
 ('2023-03-17 00:00:00', 'Ricardo Flores', 9012.34, 'Santander'),
 ('2023-03-17 00:00:00', 'Andrea Sanchez', 4567.89, 'Santander'),
 ('2023-03-17 00:00:00', 'Daniel Jimenez', 8901.23, 'Santander'),
 ('2023-03-17 00:00:00', 'Gabriela Ramirez', 2345.67, 'Santander'),
 ('2023-03-17 00:00:00', 'Pedro Castro', 6789.01, 'Santander'),
 ('2023-03-17 00:00:00', 'Veronica Ramos', 1234.56, 'Santander'),
 ('2023-03-17 00:00:00', 'Alejandra Vargas', 5678.9, 'Santander'),
 ('2023-03-17 00:00:00', 'Eduardo Medina', 9012.34, 'Santander'),
 ('2023-03-17 00:00:00', 'Mariana Torres', 345.67, 'Santander'),
 ('2023-03-17 00:00:00', 'Luisa Chavez', 1234.56, 'Santander'),
 ('2023-03-17 00:00:00', 'Rafael Hernandez', 5678.9, 'Santander'),
 ('2023-03-17 00:00:00', 'Monica Flores', 345.67, 'Santander'),
 ('2023-03-17 00:00:00', 'Arturo Chavez', 1234.56, 'Santander'),
 ('2023-03-17 00:00:00', 'Alejandra Torres', 789.01, 'Santander'),
 ('2023-03-17 00:00:00', 'Sergio Vega', 2345.67, 'Santander'),
 ('2023-03-17 00:00:00', 'Gabriela Flores', 6789.01, 'Santander'),
 ('2023-03-17 00:00:00', 'David Gonzalez', 1234.56, 'Santander'),
 ('2023-03-17 00:00:00', 'Valeria Martinez', 5678.9, 'Santander'),
 ('2023-03-17 00:00:00', 'Luis Torres', 345.67, 'Santander'),
 ('2023-03-17 00:00:00', 'Diana Hernandez', 1234.56, 'Santander'),
 ('2023-03-17 00:00:00', 'Carlos Jimenez', 789.01, 'Santander'),
 ('2023-03-17 00:00:00', 'Natalia Ramirez', 2345.67, 'Santander'),
 ('2023-03-17 00:00:00', 'Roberto Castro', 6789.01, 'Santander'),
 ('2023-03-17 00:00:00', 'Lorena Aguilar', 1234.56, 'Santander'),
 ('2023-03-17 00:00:00', 'Eduardo Ramirez', 5678.9, 'Santander')]